# Dependencies
**/node_modules/

# Build output
**/dist/
**/build/
**/.next/
**/.nuxt/
**/.output/

# Testing
**/coverage/

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# Allow environment examples
!**/.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json